
! xterm terminal settings

! font
xterm*faceName: xft:Inconsolata-11
! copypaste the usual way, without shift
xterm*translations: #override \
	Ctrl <KeyPress> C: copy-selection(CLIPBOARD) \n\
	Ctrl <KeyPress> V: insert-selection(CLIPBOARD)


! special
*.foreground:   #efefef
*.background:   #222222
*.cursorColor:  #a6a28c

! black
*.color0:       #20201d
*.color8:       #d0cfcd

! red
*.color1:       #ff3737
*.color9:       #ff3737

! green
*.color2:       #60ff39
*.color10:      #60ff39

! yellow
*.color3:       #ffb017
*.color11:      #ffb017

! blue
*.color4:       #66faff
*.color12:      #66faff

! magenta
*.color5:       #b854d4
*.color13:      #b854d4

! cyan
*.color6:       #1fad83
*.color14:      #1fad83

! white
*.color7:       #a6a28c
*.color15:      #fefbec



! rofi 
#define rofi_act	#ff7400
#define solar_green	#859900
#define black3		#222222
#define solar_cyan	#2aa198
#define electric_blue	#00adee

rofi.lines:		15
rofi.fixed-num-lines:	false
rofi.columns:		1
rofi.opacity:		0	

!rofi.fg:		solar_cyan
!rofi.fg-urgent:	black3
!rofi.fg-active:	black3

rofi.hlbg:		electric-blue		
rofi.hlbg-active:	electric-blue
rofi.hlbg-urgent:	electric_blue	

rofi.hlfg:		black3	

rofi.font:		SSFD \12

rofi.bc:		electric_blue
rofi.bw:		2	

rofi.location:		0
rofi.padding:		15			
rofi.width:		60

